# All blacklisted
*

# DIRs whitelisted
!libs/
!libs/**
!sliding/
!sliding/**/
!tests/
!tests/**/

# TYPEs whitelist
!**/*.pro
!**/*.py
!**/*.ipynb
!**/*.md
!**/*.yml
!**/*.txt
!**/*.toml

# BLACKLIST specific dirs
**/.*/
**/__pycache__/

# FILEs whitelisted
!README.md
!requirements.txt
!.gitignore
!.gitmodules
!LICENSE
