# All blacklisted
*

# DIRs whitelisted
!libs/
!libs/**
!src/
!src/**/
!tests/
!tests/**/

# TYPEs whitelist
!**/*.pro
!**/*.py
!**/*.ipynb
!**/*.md
!**/*.yml
!**/*.txt
!**/*.toml

# BLACKLIST specific dirs
**/.*/
**/__pycache__/

# FILEs whitelisted
!README.md
!.gitignore
!LICENSE
